

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  background-color: #000000;
  transform: scale(200%);
  text-shadow: 0ch 0ch 1ch rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  user-select: none;
  cursor: pointer;
  animation: intro 1s;
}

@keyframes intro {
  from {
    transform: scale(100%);
    filter: blur(300px);
  }

  to {
    transform: scale(200%);
    filter: blur(0px);
    text-shadow: 0ch 0ch 1ch rgb(255, 255, 255);
  }
  
}

@keyframes demonitized {
  from {
    text-shadow: 0ch 0ch 1ch rgb(255, 255, 255);
  }
  to {
    text-shadow: 0ch 0ch 1ch rgb(255, 255, 0);
  }
  
}

@keyframes monitized {
  from {
    text-shadow: 0ch 0ch 1ch rgb(255, 255, 255);
  }
  to {
    text-shadow: 0ch 0ch 1ch rgb(0, 255, 0);
  }
  
}